streamlit==1.39.0
pandas==2.2.3
numpy==1.26.4
yfinance==0.2.46
alpha_vantage==2.3.1
transformers==4.45.2
requests==2.32.3
scikit-learn==1.5.2
statsmodels==0.14.4
holidays==0.59
lifelines==0.29.0
plotly==5.24.1
tensorflow==2.17.0
tf-keras==2.17.0
xgboost==2.1.1
python-dotenv==1.0.1
tenacity==9.0.0
torch==2.3.0